.container {
  height: 100vh;
  width: 100vw;

  background: linear-gradient(
    270deg,
    #464646 4.01%,
    #7f2626 47.99%,
    #d03739 64.19%
  );

  display: flex;
}

.container > div {
  flex: 1;
}

.logo {
  height: 75vh;
  filter: drop-shadow(0px 15px 4px rgba(0, 0, 0, 0.25));
}

.headingText {
  font-family: 'Jersey 20';
  margin: 0;
  font-size: 64px;
  color: white;
  font-weight: bold;
}

.subText {
  font-family: 'Jersey 20';
  margin: 0;
  font-size: 36px;
  color: white;
  font-weight: bold;
}

.modal {
  height: calc(100% - 128px);
  width: calc(100% - 128px);

  margin: 0;

  background: #3e3e3e;
  border-radius: 20px;

  margin: 64px;
  /* padding: 16px; */
}

.modal > h2 {
  color: white;
  font-size: 28px;

  padding: 16px 0;
}

.form {
  height: calc(100% - 85.6px);
  overflow-y: auto;

  padding-bottom: 16px;
}

.form > input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;

  width: 60%;
  height: 32px;

  font-size: 16px;

  margin-top: 64px;
}

.form > input:first-child {
  margin-top: 32px;
}

.form > input:focus {
  outline: none;
  border-bottom: 3px solid white;
}

.form > input::placeholder {
  color: white;
}

.form > input[type='password']::-ms-reveal,
.form > input[type='password']::-ms-clear {
  filter: invert(100%);
}

.form > button {
  width: 60%;
  height: 48px;

  background: white;
  border-radius: 50px;
  margin-top: 64px;

  font-size: 16px;
  font-weight: bold;

  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.form > button:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.createAccountView {
  display: flex;
  margin-top: 64px;
  justify-content: space-around;
}

.createAccountView > * {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
