.cards {
  display: flex;
  gap: 1.5rem;
}

.card {
  text-align: left;
  background-color: #2b2a28;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1.5rem;
  flex: 1;
}

.card h2 {
  color: white;
  margin-bottom: 1rem;
}

.card table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.card table th,
.card table td {
  background-color: #2b2a28;
  color: white;
  border: none;
  padding: 0.5rem;
  text-align: left;
}

.card table th.whiteUnderline, .card table td.whiteUnderline {
  border-bottom: 1px solid #ddd;
}

.card table th {
  font-size: 18px;
}

.card p {
  color: #555;
}

.grope {
  cursor: pointer;
}

.big {
  font-size: 24px;
  font-weight: bold;
}
